<h4><%= link_to "Back to All Companies", companies_path %></h4>
<h4><%= link_to "Back to #{@company.name}", company_path(@company) %></h4>

<h2>Edit <%= @company.name %> here!</h2>

<%= render partial: "form" %>
